<mat-toolbar color="accent">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuPostres">Inventario de Equipajes</button>
</mat-toolbar>

<mat-menu #menuPostres="matMenu" color=>
  <button mat-menu-item routerLink="/delaguila/nuevo">
    <mat-icon color="primary">dns</mat-icon>
    Registrar Equipaje</button>
 
  <button mat-menu-item routerLink="/delaguila" >
    <mat-icon color="warn">dns</mat-icon>
    Listar Equipaje</button>

  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>